body {
  /* padding-top: 50px; */
  background-color: #c26464;
}

svg.circle {
  will-change: stroke-dasharray;
  stroke: rgb(215, 255, 255);
  stroke-width: 8;
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  fill: transparent;
  stroke-dasharray: 80;
  transition: all 0.5s ease-in-out;
}

#circle:hover svg.circle {
  animation: 3s rotate forwards;
}

#circle {
  width: 500px;
  margin: 0 auto;
  cursor: pointer;
}

@keyframes rotate {
  from {
    stroke-dasharray: 80;
  }
  to {
    stroke-dasharray: 0;
    stroke-width: 3;
    stroke: rgb(47, 107, 236);
    /* fill: #111; */
  }
}
